{% load static %}
<html>
    <head>
        <title>Tyan</title>
        <link rel="stylesheet" href="{%static 'css/shelf.css'%}">
    </head>
    <body>
        <div class="header">
            <div class="header_container">
                <div class="header_logo">
                    <a href="/" class="header_logo_text">Nya</a>
                </div>
                {%if user.is_authenticated%}
                    <a href="{% url 'book_new' %}" class="header_add_book">+</a>
                {% endif %}
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html> 